[Unit]
Description=sonoffexporter
After=network.target

[Service]
Type=forking
Restart=on-failure
RestartSec=3
ExecStart=screen -S sonoff -d -m python3 /usr/local/bin/sonoff_exporter.py
StandardOutput=inherit
StandardError=inherit
User=root

[Install]
WantedBy=multi-user.target

